<div class="container projects-container">
  <h3>{{ site.projects_title_1 | default: "Projects" }}</h3>
  {% for project in site.data.projects %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
  {% endfor %}
  <h4>{{ site.projects_title_2 | default: "Projects" }}</h4>
  {% for project in site.data.projects %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
  {% endfor %}
  <h3>{{ site.projects_title_3 | default: "Projects" }}</h3>
  {% for project in site.data.projects %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
  {% endfor %}
</div>
